/* Стили для всплывающего сообщения */
.popup-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 40px; /* Увеличьте внутренний отступ для большего размера */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .success {
    color: green;
    font-weight: bold;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  /* Стили для формы */
  .create-request-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background: #f7f7f7;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .create-request-form label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .create-request-form select,
  .create-request-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .create-request-form button {
    background-color: #1890ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .create-request-form button:hover {
    background-color: #40a9ff;
  }
  